.errorcontainer {
    background-color:#f7bfbe;
    border: 1px solid #ff0000;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.errormessage {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}