@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{
    --color_text-primary:#111;
    --color_text-secundary:#6EE;
    --color_text-tertiary:#fff;
    --background-color: #fefdfd;
    --head-backgroud-color:#b330d4;
    --laterales_backgound-color:#efefef;
    --lowText_font_size:14px;
    --text_size_title:40px;
    --text_size_subtitle:24px;
    --text_size:20px;
    --text_paragraph:16px;
    --text_blue_font-family:'HitandRun', sans-serif;
    --text_font-family1: 'Poppins', sans-serif;
    --text_font-family2: 'Open Sans', sans-serif;;
}
@font-face {
    font-family: Hit and Run;
    src: url(./../../../../Assests/fonts/TextFonts.net_hit-and-run-font/HitandRun.otf);
}

/* ESTILO DE LOS CONTENEDORES*/

.estiloHeader{
    width: 100%;
    height: 15%;
    background: var(--head-backgroud-color);
    display:flex;
    align-items: center;
}
.contenedorLogo{
    width: 10%;
    height: 100%;
    position: relative;
}
.contenedorBuscador{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.contenedorBotonera{
    width: 25%;
    height: 15%;
    position: absolute;
    display: flex;
    right: 0;
}

/*ESTILOS DEL LOGO*/

.logo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/*ESTILOS DEL BUSCADOR*/

.search input[type=text]{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-family: var(--text_font-family1);
    font-size:small;
    @media (max-width: 980px) {
        font-size: x-small;
    }
    @media (max-width: 780px) {
        font-size: 8px;
    }
    @media (max-width: 655px) {
        font-size: 5px;
    }
}
form{
    position: relative;
}    
.search{
    float: right;
    width: 98%;
}
::placeholder {
    text-align: center; 
}

::-webkit-input-placeholder {
    text-align: center; 
}
:-moz-placeholder { /* Firefox 18- */
    text-align: center; 
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center; 
}
.search button{
    background-color: var(--background-color);
    color: grey;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 0;
    margin-top: 3%;
    @media (max-width: 980px) {
        font-size: 16px;
        top: 10%;
    }
    @media (max-width: 780px) {
        font-size: 12px;
        top: 17%;
    }
}
.centrar{
    text-align: center;
}
.contboton{
    width: 25%;
    height: 100%;
    z-index: 1;
}
.botonheader{
    width: 100%;
    height:100%;
    img{
        width: 80%;
        height: 100%;
        object-fit: contain;
    }
}

