.estiloMenuDer{
    width: 20%;
    background: var(--laterales_backgound-color);
    height: 100%;
    position: relative;
}
.contmenuder{
    width: 80%;
    height: 100%;
    position: absolute;
    border: 1px solid blue;
    margin: 0 10%;
}