/*BUSCADOR*/
.contenedorBuscador{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.search input[type=text]{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-family: var(--text_font-family1);
    font-size:small;
    @media (max-width: 980px) {
        font-size: x-small;
    }
    @media (max-width: 780px) {
        font-size: 8px;
    }
    @media (max-width: 655px) {
        font-size: 5px;
    }
}
form{
    position: relative;
}    
.search{
    float: right;
    width: 98%;
}
::placeholder {
    text-align: center; 
}

::-webkit-input-placeholder {
    text-align: center; 
}
:-moz-placeholder { /* Firefox 18- */
    text-align: center; 
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center; 
}
.search button{
    background-color: var(--background-color);
    color: grey;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 0;
    margin-top: 3%;
    @media (max-width: 980px) {
        font-size: 16px;
        top: 10%;
    }
    @media (max-width: 780px) {
        font-size: 12px;
        top: 17%;
    }
}
.centrar{
    text-align: center;
}