.estiloHeader{
    width: 100%;
    height: 15%;
    background: var(--head-backgroud-color);
    display:flex;
    align-items: center;
}
.contenedorLogo{
    width: 100%;
    height: 100%;
    position: relative;
}