.container_personalizado{
    max-width: 1200px;
    margin:0 auto;
}
.contenedorGeneral{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: var(--background-color);
    position: relative;
}
.contenedorCentral{
    width: 100%;
    display: flex;
    align-items: center;
    height: 85%;
    position: absolute;
}
.leftcontainer{
    width: 20%;
    height: 100%;
}
.centercontainer{
    width: 60%;
    height: 100%;
}
.rightcontainer{
    width: 20%;
    height: 100%;
}