@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{
    --color_text-primary:#111;
    --color_text-secundary:#6EE;
    --color_text-tertiary:#fff;
    --background-color: #fefdfd;
    --head-backgroud-color:#b330d4;
    --laterales_backgound-color:#efefef;
    --lowText_font_size:14px;
    --text_size_title:40px;
    --text_size_subtitle:24px;
    --text_size:20px;
    --text_paragraph:16px;
    --text_blue_font-family:'HitandRun', sans-serif;
    --text_font-family1: 'Poppins', sans-serif;
    --text_font-family2: 'Open Sans', sans-serif;;
}
@font-face {
    font-family: Hit and Run;
    src: url(../../fonts/TextFonts.net_hit-and-run-font/HitandRun.otf);
}
.container_personalizado{
    max-width: 1200px;
    margin:0 auto;
}
.contenedorGeneral{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: var(--background-color);
    position: relative;
}
.contenedorCentral{
    width: 100%;
    display: flex;
    align-items: center;
    height: 85%;
    position: absolute;
}
.contenedorGeneralMobile{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
