.Successcontainer {
    background-color: #bae1ae;
    border: 1px solid #bae1ae;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    width: 50%;
}

.Successmessage {
    color: forestgreen;
    
    font-weight: bold;
    text-align: center;
}
/*.Successmessage span{
    font-size: 10px;
}*/