.photostyle{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}