.username{
    margin: 0 auto;
    font-size: var(--text_size_subtitle);
    color: var(--head-backgroud-color);
    font-weight: bold;
    font-family: var(--text_font-family2);
    /*margin-top: 12%;*/
    display: flex;
    justify-content: center;
}