.contButton{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.ContgenButton{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 16%;
}
Button{
    background: none;
    border: none;
}
.username{
    margin: 0 auto;
    font-size: var(--text_size_subtitle);
    color: var(--head-backgroud-color);
    font-weight: bold;
    font-family: var(--text_font-family2);
    margin-top: 12%;
}