.estiloLaterales{
    width: 20%;
    background: var(--laterales_backgound-color);
    height: 100%;
    position: relative;
}
.contmenu{
    width: 80%;
    height: 100%;
    position: absolute;
    border: 1px solid blue;
    margin: 0 10%;
    display: flex;
}
.conticono{
    width: 20%;
    height: 100%;
    border: 1px solid pink;
    margin-right: 1rem;
    padding-top: 3rem;
}
.conttexto{
    width: 80%;
    height: 100%;
    border: 1px solid green;
}