.textosmenuizq{
    color: var(--color_text-primary);
    text-align: left;
    font-family: var(--text_font-family1);
    font-size: medium;
    width: 100%;
    cursor: pointer;
    p{
        margin: 0;
    }
    @media (max-width: 852px) {
        font-size: x-small;
    }
    @media (min-width: 1281px){
        font-size: x-large;
    }
}